p {
    padding-right: 40 px;
    color: rgb(7, 7, 7);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

button {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(169, 169, 170);
    border-style:outset;
    border-color: rgb(146, 146, 148);
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    transform-origin: top;
}
